@font-face {
  font-family: 'museo_sans';
  src: url("../../fonts/museosanscyrl-500-webfont.woff2") format("woff2"), url("../../fonts/museosanscyrl-500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-regular-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-bold-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-extrabold-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-italic-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-light-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'alegreya_sans';
  src: url("../../fonts/alegreyasans-medium-webfont.woff2") format("woff2"), url("../../fonts/alegreyasans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

html, body {
  height: 100%;
  font-family: 'alegreya_sans', sans-serif;
  font-style: normal;
  font-size: 18px; }

ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

b {
  font-weight: bold; }

ul li {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  margin: 0 auto;
  width: 940px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.about {
  min-height: 100vh;
  background-color: #61c4d9;
  background-image: url("../../img/promo/bg/bg_bars.png"), url("../../img/promo/bg/bg_leaf.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 50px, right;
  padding-bottom: 47px; }

.head {
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 100px; }

.head__container {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.head__logo {
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 0.88; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px; }
  .nav__item:last-child {
    margin-right: 0px; }

.nav__link {
  color: #ffffff;
  text-decoration: none; }

.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none; }
  .contact__phone:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background-image: url("../../img/contact/telephone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }

.promo {
  color: #ffffff; }

.promo__container {
  width: 940px; }

.promo__content {
  max-width: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #ffffff;
  margin-bottom: 94px; }

.promo__title {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px; }

.promo__text {
  font-size: 21px;
  padding-bottom: 56px; }

.promo__desc {
  font-size: 16px; }

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 47px; }
  .promo__item:last-child {
    margin-right: 0px; }

.promo__icon {
  height: 41px;
  margin-right: 9px; }
  .promo__icon--leaf {
    width: 44px;
    background-image: url("../../img/promo/icons/leaf.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .promo__icon--car {
    width: 50px;
    background-image: url("../../img/promo/icons/car.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .promo__icon--tape {
    width: 42px;
    background-image: url("../../img/promo/icons/tape.png");
    background-repeat: no-repeat;
    background-position: center center; }

.promo__item-desc {
  max-width: 80px; }

.btn__link {
  font-size: 19px;
  font-weight: 800;
  color: #0f5a47;
  background-color: #ffffff;
  border-radius: 29px;
  padding: 23px 34px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid transparent; }

.why {
  min-height: 100vh;
  background-color: #ffffff;
  color: #666666;
  text-align: center;
  background-image: url("../../img/why/bg/raspberry.png"), url("../../img/why/bg/pattern.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, center left;
  padding-top: 60px;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.why__desc {
  max-width: 405px;
  margin-bottom: 55px; }

.why__title {
  font-size: 48px;
  font-weight: bold;
  color: #0d0d0d;
  text-transform: uppercase;
  margin-bottom: 25px; }

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.why__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 275px;
  margin-right: 72px; }
  .why__item:last-child {
    margin-right: 0px; }
  .why__item::after {
    content: url("../../img/why/icons/circle.png");
    position: absolute;
    top: 20%;
    right: -27%; }
  .why__item:last-child::after {
    content: none; }

.why__icon {
  width: 125px;
  height: 125px;
  background-color: #f2f5f4;
  border-radius: 50%;
  margin-bottom: 35px; }
  .why__icon--man {
    background-image: url("../../img/why/icons/man.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .why__icon--smile {
    background-image: url("../../img/why/icons/smile.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .why__icon--muscle {
    background-image: url("../../img/why/icons/muscle.png");
    background-repeat: no-repeat;
    background-position: center center; }

.why__item-subtitle {
  font-size: 27px;
  font-weight: bold;
  color: #0d0d0d;
  margin-bottom: 30px; }

.why__item-desc {
  font-size: 18px;
  font-weight: 300; }

.reviews {
  min-height: 100vh;
  background-color: #ffffff;
  color: #666666;
  background-image: url("../../img/reviews/bg/berries_reviews.png"), url("../../img/reviews/bg/pattern_reviews.png"), url("../../img/reviews/bg/berries_reviews.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom left, bottom left, top right;
  padding-top: 69px; }

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews__title {
  font-size: 48px;
  font-weight: bold;
  color: #0d0d0d;
  text-transform: uppercase;
  margin-bottom: 40px; }

.reviews__content {
  min-width: 940px;
  min-height: 345px;
  padding: 50px 180px 30px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../../img/reviews/bg/bg_reviews.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  margin-bottom: 27px; }

.reviews__pic {
  width: 250px;
  height: 260px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin-right: 20px; }

.reviews__desc {
  max-width: 433px; }

.reviews__subtitle {
  font-size: 30px;
  font-weight: 500;
  color: #666666;
  margin-bottom: 25px; }

.reviews__message {
  padding-bottom: 32px; }

.reviews__user {
  font-size: 18px;
  font-weight: 500;
  color: #666666; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reviews__item {
  margin-right: 12px; }
  .reviews__item:last-child {
    margin-right: 0px; }

.reviews__avatar {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  -o-object-fit: none;
  object-fit: none;
  -o-object-position: center;
  object-position: center; }
  .reviews__avatar--active {
    border: 5px solid #0f5a47; }
  .reviews__avatar--two {
    -o-object-position: center -12px;
    object-position: center -12px; }
  .reviews__avatar--three {
    -o-object-position: -104px -43px;
    object-position: -104px -43px; }
