$blue: #61c4d9;
$white: #ffffff;
$black:#0d0d0d;
$green: #0f5a47;
$grey: #f2f5f4;
$brownish-grey:#666666;
$light-grey: #f8faf9;

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;


// @import './css/layout/*.scss';   не работает
 
// @import './css/layout/normalize.scss';  уже подключили в gulp

@import './css/layout/media.scss';

@import './css/layout/fonts.scss';
@import './css/layout/base.scss';


// @import './css/block/*.scss';


@import './css/block/about.scss';
@import './css/block/head.scss';
@import './css/block/nav.scss';
@import './css/block/contact.scss';
@import './css/block/hamburger.scss';

@import './css/block/promo.scss';
@import './css/block/btn.scss';

@import './css/block/why.scss';
@import './css/block/slider.scss';
@import './css/block/team.scss';


@import './css/block/menu.scss';
@import './css/block/reviews.scss';
@import './css/block/how-work.scss';
@import './css/block/player.scss';
@import './css/block/delivery.scss';
@import './css/block/location.scss';
@import './css/block/foot.scss';
@import './css/block/social.scss';

@import './css/block/fixed-menu.scss';
@import './css/block/fullscreen-menu.scss';
@import './css/block/modal.scss';




