.about {
  background-color: $blue;
  background-image: url('../../img/promo/bg/bg_leaf.png');
  background-repeat: no-repeat;
  // background-size:cover;
  background-position:  right ;
  position: relative;
  display: flex;
  // align-items: center;
  justify-content: center;

  // &:after {
  //   content: url('../../img/promo/bg/bg-decoration.png');
  //   position: absolute;
  //   bottom: -8%;
  //   right: 50%;
  //   transform: translateX(50%);
  // }
}