.about {
  min-height: 650px ;
  background-color: $blue;
  background-image: url('../../img/promo/bg/bg_bars.png'), url('../../img/promo/bg/bg_leaf.png');
  background-repeat: no-repeat, no-repeat;
  // background-size: cover;
  background-position: center 50px, center center;
  padding-bottom: 47px;
}