
// .btn {
// min-width: 155px;
// min-height: 58px;
// }


.btn__link {
  display: block;
  font-size: rem(19px);
  font-weight: 800;
  color: $green;
  background-color: $white; 
  border-radius: rem(29px);
  padding: rem(19px)  rem(34px);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid transparent;
}