.head {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  color: $white;
  // margin-top: 24px;
  z-index: 10;
}

.head__container {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.head__logo {
  font-family: 'museo_sans';
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 0.88;
}