.how-work {
  background-color: $light-grey;
  background-image: url('../../img/how-work/bg/bg_how-work.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  &:after {
    content: url('../../img/how-work/bg/blackberry.png');
    position: absolute;
    bottom: -14%;
    right: -6%;
    z-index: 20;

    @include phones {
      transform: scale(0.6);
      bottom: -20%;
      right: -21%;
    }

  }
}

.how-work__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-work__title {
  font-size: rem(48px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: rem(50px);
  text-align: center;
  

  @include phones {
    font-size: rem(40px);
    margin-bottom: 4%;
  }

}