.location {
  min-height: 100vh;
  background-image: url('../../img/location/bg/bg_map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

}