.location {
  // background-image: url('../../img/location/bg/bg_map.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;
  position: relative;

}

.map {
  width: 100%;
  height: 100%;
}