.nav {
  padding: 0 4%;
  flex: 1;
  text-align: center;
  @include tablets {
    display: none;
  }

}


.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  // margin-right: rem(30px);
  margin-right: 4%;
  
  &:last-child {
    margin-right: rem(0px);
  }

  &:hover {
    transform: translateY(-2px);
    transition: 0.3s;
  }
}

.nav__link {
  // white-space: nowrap;
  color: $white;
  text-decoration: none;

  &:hover {
    color: black;
    transition: 0.3s;
  }
  
}

