.nav {
  @include tablets {
    display: none;
  }
}


.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: rem(30px);

  &:last-child {
    margin-right: rem(0px);
  }

}

.nav__link {
  color: $white;
  text-decoration: none;
}

