.reviews {
  background-color: $white;
  color: $brownish-grey;

  background-image: url('../../img/reviews/bg/berries_reviews.png'), 
  url('../../img/reviews/bg/pattern_reviews.png'),
  url('../../img/reviews/bg/strawberry_reviews.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  // background-size: cover;
  background-position: bottom left, bottom left, top right;
  display: flex;
  align-items: center;
  justify-content: center;

  // padding-top: rem(69px);
}

.reviews__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  font-size: rem(48px);
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
  margin-bottom: rem(40px);



  @include tablets {
    margin-bottom: rem(64px);
  }

  @include phones {
    font-size: rem(40px);
    margin-bottom: rem(64px);
  }
}

.reviews__content {
  min-width: rem(940px);
  min-height: rem(345px);
  padding: rem(50px) rem(180px) rem(30px) rem(45px);
  display: flex;
  background-image: url('../../img/reviews/bg/bg_reviews.png');
  background-repeat: no-repeat, no-repeat;
  // background-size: cover;
  background-position: center center;

  margin-bottom: rem(27px);


  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0;

    min-width: rem(460px);
    min-height: rem(600px);

    background-image: url('../../img/reviews/bg/bg_branch.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center center;
  }

  @include phones {
    min-height: rem(486px);
  }

}

.reviews__userpic {
  // width: rem(250px);
  // height: rem(260px);
  // overflow: hidden;
  // object-fit: cover;
  // object-position: center;
  margin-right: rem(20px);

  @include tablets {
    margin-right: rem(0px);
    margin-bottom: rem(28px);
    width: rem(202px);
  }

  @include phones {
    width: rem(121px);
  }


}


.reviews__pic {
  max-width: 100%;
} 

.reviews__desc {
  max-width: rem(433px);

  @include tablets {
  max-width: rem(401px);
  }

}

.reviews__subtitle {
  font-size: rem(30px);
  font-weight: 500;
  color: $brownish-grey;
  margin-bottom: rem(25px);
}

.reviews__message {
  padding-bottom: rem(32px);
}

.reviews__user {
  font-size: rem(18px);
  font-weight: 500;
  color: $brownish-grey;
}

.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__item {
  margin-right: rem(12px);

  &:last-child{
    margin-right: rem(0px);
  }

}

.reviews__avatar{
  width: rem(67px);
  height: rem(67px);
  border-radius: 50%;
  object-fit: none;
  object-position: center;

  &--active {
  border: 5px solid $green;
}

  // &--two {
  //   object-position: center rem(-12px);
  // }
  // &--three {
  //   object-position: rem(-104px) rem(-43px);
  // }

}